In [ ]:
Exercise 2: Create markdown cell with title of the notebook

# Data Science Tools and Ecosystem

In [ ]:
Exercise 3 - Create a markdown cell for an introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

In [ ]:
Exercise 4 - Create a markdown cell to list data science languages

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SL

In [ ]:
Exercise 5 - Create a markdown cell to list data science libraries

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Sklearn

In [ ]:
Exercise 6 - Create a markdown cell with a table of Data Science tools

In [3]:
import pandas as pd
tools = ["Jupyter Notebook", "RStudio", "Apache Zeppelin"]
df = pd.DataFrame(tools, columns=["Data Science Tools"])
df

  Data Science Tools
0   Jupyter Notebook
1            RStudio
2    Apache Zeppelin

In [ ]:
Exercise 7 - Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python.

In [ ]:
Exercise 8 - Create a code cell to multiply and add numbers

In [5]:
# This is a simple arithmetic expression to multiply then add integers
(3 * 4) + 5

17

In [ ]:
Exercise 9 - Create a code cell to convert minutes to hours

In [6]:
# This will convert 200 minutes to hours by dividing by 60
200 / 60

3.3333333333333335

In [ ]:
Exercise 10 - Insert a markdown cell to list Objectives

**Objectives:**

- List popular languages for Data Science
- Identify commonly used libraries in Data Science
- Demonstrate basic arithmetic expressions in Python
- Create and format tables in Markdown
- Use Jupyter Notebooks for interactive develpment

In [ ]:
Exercise 11 - Create a markdown cell to indicate the Author's name

In [ ]:
## Author
Raul Acosta Murillo